<% layout('layouts/post-show-layout') -%>

    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="card mb-4">
                <div class="text-center">
                    <img class="card-img-top" src="<%= post.image %>" alt="<%= post.image %>" style="max-width: 25rem;" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= post.title %>
                    </h5>
                    <p>Price:
                        <%= post.price%>
                    </p>
                    <hr>
                    <p>Author here</p>
                    <div>Published:
                        <%= post.date%>
                    </div>
                    <p class="card-text">
                        <%= post.description%>
                    </p>
                    <div class="d-flex justify-content-start mr-4">
                        <a href="/posts/<%= post.id%>/edit">
                            <button class="btn btn-warning">Edit</button>
                        </a>
                        <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" style="margin-left: 10px;">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>

                </div>
            </div>
            <div>
                <h2>Create a Review</h2>
                <div>
                    <form class="form text-center" action="/posts/<%= post.id%>/reviews" method="POST">
                        <div>
                            <label for="inputBody" class="sr-only">Body</label>
                            <textarea class="form-control" id="inputBody" name="review[body]" placeholder="review here" required></textarea>
                        </div>
                        <div>
                            <label for="inputRating">Rating: </label>
                            <input id="inputRating" type="number" name="review[rating]" min="1" max="5" step="1" required>
                        </div>
                        <button class="btn btn-lg btn-success btn-block" type="submit">Review</button>
                    </form>
                </div>

                <!-- display all reviews -->
                <h3>Reviews</h3>
                <% post.reviews.forEach(function(review){ %>
                    <div>
                        Author:
                        <%= review.author.username%>
                            <br>
                            <%= review.body%>
                                <br> Rating:
                                <%= review.rating%>
                    </div>
                    <hr>
                    <% })%>
            </div>
        </div>
    </div>