<% layout('layouts/post-show-layout') -%>

    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="card mb-4">
                <div class="text-center">
                    <img class="card-img-top" src="<%= post.image %>" alt="<%= post.image %>" style="max-width: 25rem;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= post.title %>
                    </h5>
                    <p>Price:
                        <%= post.price%>
                    </p>
                    <hr>
                    <p>Author here</p>
                    <div>Published:
                        <%= post.date%>
                    </div>
                    <p class="card-text">
                        <%= post.description%>
                    </p>
                    <div class="d-flex justify-content-start mr-4">
                        <a href="/posts/<%= post.id%>/edit">
                            <button class="btn btn-warning">Edit</button>
                        </a>
                        <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger ml-2">Delete</button>
                        </form>
                    </div>

                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h4>Create a Review</h4>
                </div>
                <div class="card-body">
                    <form class="form text-center" action="/posts/<%= post.id%>/reviews" method="POST">
                        <div>
                            <label for="inputBody" class="sr-only">Body</label>
                            <textarea class="form-control" id="inputBody" name="review[body]" placeholder="review here" required></textarea>
                        </div>
                        <div>
                            <label for="inputRating">Rating: </label>
                            <input id="inputRating" type="number" name="review[rating]" min="1" max="5" step="1" required>
                        </div>
                        <button class="btn btn-lg btn-success btn-block" type="submit">Review</button>

                    </form>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h3>Reviews</h3>
                </div>
                <div class="card-body">
                    <% post.reviews.forEach(function(review){ %>
                        <div class="mb-2">
                            Author:
                            <%= review.author.username%>
                                <br>
                                <%= review.body%>
                                    <br> Rating:
                                    <%= review.rating%>
                        </div>
                        <% if(review.author.equals(currentUser._id)){ %>
                            <div>

                                <button class="btn btn-warning toggle-edit-form mb-2 btn-sm">Edit</button>
                                <form class="edit-review-form" action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" method="POST">
                                    <div>
                                        <label for="inputBody" class="sr-only">Body</label>
                                        <textarea class="form-control" id="inputBody" name="review[body]" placeholder="review here" required><%= review.body%></textarea>
                                    </div>
                                    <div>
                                        <label for="inputRating">Rating: </label>
                                        <input id="inputRating" type="number" name="review[rating]" min="1" max="5" step="1" value="<%= review.rating%>" required>
                                    </div>
                                    <input class="btn btn-primary btn-sm mb-2" type="submit" value="Update" />
                                </form>

                                <form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
                                    <input class="btn btn-danger btn-sm" type="submit" value="Delete" />
                                </form>

                            </div>
                            <% } %>
                                <hr>

                                <% })%>
                </div>
            </div>

        </div>
    </div>